<div class="home">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Song Name</th>
            <th scope="col">Artist</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let track of tracks" [class.selected]="track._id === selectedTrack?._id">
            <th scope="row">{{track._id}}</th>
            <td>{{track.name}}</td>
            <td>{{track.artist.name}}</td>
            <td><span class="material-symbols-outlined icon-click" (click)="play(track)">play_circle</span></td>
            </tr>
        </tbody>
    </table>
</div>